@import 'project.css';
@import 'slider-bio.css';

.header {
  display: grid;
  grid-template-columns: 5fr 20fr 28fr;
  grid-template-areas:
    ". title user"
    "number project date";
  justify-items: start;
  row-gap: 1.6rem;

  @media screen(lg) {
    grid-template-columns: 3fr 10fr 25fr 20fr 8fr;
    grid-template-areas:
      "logo title . user user"
    "number category project client date";
  }
}
