@import 'project.css';
@import 'slider-bio.css';

.header {
  display: grid;
  grid-template-columns: 8fr 16fr 28fr;
  grid-template-areas:
    ". title user";
  justify-items: start;

  @media screen(lg) {
    grid-template-columns: 4fr 25fr 20fr 10fr 7fr;
    grid-template-areas:
      "logo title . user user"
  }
}
