@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60, 45%, 98%;
    --foreground: 358, 81%, 40%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary-foreground: 60, 100%, 95%;
    --primary: 358, 81%, 40%;

    --secondary: 4, 70%, 52%;
    --secondary-foreground: 222.2 47.4% 100%;

    --muted: 358, 38%, 84%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 358, 81%, 40%;
    --accent-foreground: 222.2 47.4% 100%;

    --destructive: 222.2 47.4% 11.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 358, 81%, 40%;
    --input: 358, 81%, 40%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    font-family: Lora, Georgia, 'Times New Roman', Times, serif, system-ui, Avenir;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  a {
    text-decoration: underline;
  }

  .montserrat {
    font-family: Montserrat, Arial, Helvetica, sans-serif
  }
}

