.slider-bio {
  top: calc(-1 * var(--headerHeight));
  height: calc(100% + var(--headerHeight) + 45px);
  grid-template-columns: 5px 8fr 43fr 2fr;

  @media screen(sm) {
    grid-template-columns: 5px 8fr 37fr 8fr 5px;
  }

  @media screen(lg) {
    grid-template-columns: 5px 4fr 58fr 4fr 5px;
  }
}
