.projectContainer {
  display: grid;
  grid-template-columns: 5fr 40fr 8fr;
  grid-template-areas:
    "number title date"
    "number client date"
    "number category date"
    "number divider date"
    ". details ."
    ". additional ."
    ". text ."
    ". image .";
  justify-items: start;
  text-align: start;

  @media screen(lg) {
    grid-template-columns: 3fr 10fr 25fr 20fr 8fr;
    grid-template-areas:
      "number category title client date"
      "number details text image date"
      "number additional text image date";
    column-gap: 0.8vw;
  }
}

.number {
  grid-area: number
}

.category {
  grid-area: category;
}

.divider {
  grid-area: divider;
  width: 100%;
  margin-top: 1rem;
  @apply border-b border-red-500;

  @media screen(lg) {
    display: none;
  }
}

.details {
  grid-area: details;
  margin-bottom: 1.5rem;

  @media screen(lg) {
    margin-bottom: 0;
  }
}

.additional {
  grid-area: additional;
  margin-bottom: 1.5rem;
}

.title {
  grid-area: title;

  @media screen(lg) {
    margin-bottom: 1rem;
  }
}

.text {
  grid-area: text;
  margin-bottom: 1.5rem;
}

.image {
  grid-area: image
}

.client {
  grid-area: client;
}

.date {
  grid-area: date;
  justify-self: end;
  text-align: end;
}
