.projectContainer {
  display: grid;
  grid-template-columns: 5fr 40fr 8fr;
  grid-template-areas:
    "number title date"
    "number text date"
    "number image date";
  justify-items: start;
  text-align: start;

  @media screen(lg) {
    grid-template-columns: 3fr 10fr 25fr 20fr 8fr;
    grid-template-areas:
      "number category title client date"
      "number . text image ."
      "number . text image .";
    column-gap: 1vw;
  }
}

.number {
  grid-area: number
}

.category {
  display: none;
  grid-area: category;

  @media screen(lg) {
    display: block;
  }
}

.title {
  grid-area: title;
  padding-bottom: 1rem;
}

.text {
  grid-area: text;
  @apply border-t border-red-500;
  padding-bottom: 1rem;
}

.image {
  grid-area: image
}

.client {
  display: none;
  grid-area: client;

  @media screen(lg) {
    display: block;
  }
}

.date {
  grid-area: date;
  justify-self: end;
  text-align: end;
}
